@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome a mi sitio xD</h1>
    <p>Learn about <a href="https://platzi.com/clases/web-apps/">GitHub continuos integration</a>.</p>
</div>
